<div class="bounceInUp animated">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-ok-sign"></span> <a href="#">Home</a> / <a href="#contracts"> My Contracts</a> / Delete
        </div>
        <div class="panel-body">
            <div class="alert alert-danger hidden text-center" id="userAlert">{{userAlertMessage}}</div>
            <div class="well well-sm text-center">
                Are you sure you want to delete this contract?
            </div>
            <div class="btn-group col-xs-12">
                <button type="button" class="col-xs-6 btn btn-primary" ng-click="delete(id)">Yes</button>
                <button type="button" class="btn btn-default col-xs-6" ng-click="gohome()">Cancel</button>
            </div>
        </div>
    </div>
</div>