<div class="bounceInUp animated">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-lock"></span> <a href="#">Home</a> / Change Password
        </div>
        <div class="panel-body">
            <div class="alert alert-danger hidden text-center" id="passwordAlert">{{passwordAlertMessage}}</div>
            <form role="form" name="passwordForm" class="form-horizontal pull-left col-xs-12">
                <div class="form-group">
                    <label for="password" class="col-xs-4 control-label">New Password</label>
                    <div class="col-xs-8 col-md-6">
                        <input type="password" class="form-control" ng-model="password" required value="{{password}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="col-xs-4 control-label">Confirm Password</label>
                    <div class="col-xs-8 col-md-6">
                        <input type="password" class="form-control" ng-model="confirm" required value="{{confirm}}">
                    </div>
                </div>
                <div class="btn-group col-xs-12">
                    <button type="submit" class="btn btn-primary col-xs-6" ng-click="changepassword()" ng-disabled="passwordForm.$invalid || password != confirm">Change</button>
                    <button type="button" class="btn btn-default col-xs-6" ng-click="gohome()">Cancel</button>
                </div>
            </form>            
        </div>
    </div>
</div>